
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-nav-bar></app-nav-bar>
<!--Page title -->
<div class="page-title-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 wow fadeIn">
        <i class="fa fa-envelope"></i>
        <h1>Contact Us /</h1>
        <p>Here is how you can contact us</p>
      </div>
    </div>
  </div>
</div>

<!-- Contact Form -->
<div class="contact-us-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 contact-form">
        <form >
          <div class="form-group">
            <label for="contact-name">Name</label>
            <input type="text" name="name" placeholder="Enter your name..." 
            class="contact-name" id="contact-name" [(ngModel)]="message.name"
            [class.incorrect]="nameIsIncorrect">
          </div>
          <div class="form-group">
            <label for="contact-email">Email</label>
            <input type="text" name="email" placeholder="Enter your email..." 
            class="contact-email" id="contact-email" [(ngModel)]="message.email"
            [class.incorrect]="emailIsIncorrect">
          </div>
          <div class="form-group">
            <label for="contact-message">Message</label>
            <textarea name="message" placeholder="Your message..." 
            class="contact-message" id="contact-message" [(ngModel)]="message.body"
            [class.incorrect]="messageIsIncorrect"></textarea>
          </div>
          <input type="submit" class="btn" (click)="sendMessage()" value="Send">
        </form>
        <div *ngIf="showMessage">
          <div class="alert-message top-buffer" (click)="hideAlert()">
            <p>{{alert}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 contact-address">
        <h3>We Are Here</h3>
        <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="col-sm-7">
          <h3>Social Media</h3>
         
          <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline"> 
            <li><a href="https://www.facebook.com/Corvo-Cars-178109046180834/"><i class="fa fa-facebook"></i></a> </li> 
            <li><a href="https://twitter.com/Corvus_imperio"><i class="fa fa-twitter"></i></a> </li>   
            <li> <a href="https://www.instagram.com/corvo_cars/"><i class="fa fa-instagram"></i></a> </li> 
          </ul>

        </div>
        <div class="col-sm-5">
          <h3>Phone Number</h3>
          <p>+506 84538943</p>
        </div>
        
      </div>
    </div>
  </div>
</div>