
a:hover, a:focus { color: rgb(34,34,34); text-decoration: none; }

strong { font-weight: bold; }

img { max-width: 100%; }

h1, h2 { line-height: 40px; }
h3, h4 { line-height: 20px; }

::-moz-selection {    background: #fcbd2b; color: #fff; text-shadow: none; }
::selection {     background: #fcbd2b; color: #fff; text-shadow: none; }



.page-title-container {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    text-align: left;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-transform: uppercase;
}

.page-title-container h1 {
    display: inline;
    margin-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: rgb(34,34,34);
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title-container p {
    display: inline;
    font-family: 'Rajdhani', 'sans-serif';
    margin-left: 5px;
    font-size: 18px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-container i {
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}


/* Contact Form */
.contact-us-container {
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(34,34,34);
    font-size: 12px;
    text-transform: uppercase;
}

.contact-us-container h3 {
    margin-top: 25px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: rgb(34,34,34);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.contact-us-container p {
    line-height: 28px;
    font-size: 17px;
}

.contact-form {
    padding-top: 25px;
    padding-bottom: 30px;
}

.contact-form form {
    margin-top: 25px;
}

.contact-form form .form-group {
	margin-bottom: 20px;
}

.contact-form input[type="text"] { width: 95%; height: 34px; }
.contact-form textarea { width: 95%; height: 170px; padding-top: 6px; padding-bottom: 6px; }
.contact-form label { font-size: 20px; font-weight: 400; }
.contact-form label .error-label { font-style: italic }
.contact-form button { margin-top: 5px; padding: 0 45px; }

input[type="text"], 
textarea {
    margin: 0;
    padding: 0 6px;
    vertical-align: middle;
    background: none;
    border: 1px solid rgb(34,34,34);
    font-family: 'Rajdhani', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(34,34,34);
    font-style: italic;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus, 
textarea:focus {
	outline: 0;
    border: 1px solid rgb(34,34,34);
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { color: #ccc; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #ccc; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #ccc; }


button.btn {
    
	height: 30px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #9d426b;
    font-family: 'Rajdhani', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input.btn{
    border: 2px solid rgb(34,34,34);
    color: rgb(34,34,34);
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    background-color: white;
}

button.btn:hover {
	background: rgb(34,34,34);
    border: 0;
    color: #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

button.btn:active {
	outline: 0;
    background: rgb(34,34,34);
    border: 0;
    color: #fff;
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

button.btn:focus {
	outline: 0;
    background: rgb(34,34,34);
    border: 0;
    color: #fff;
}

.btn:active:focus, .btn.active:focus {
	outline: 0;
    background: rgb(34,34,34);
    border: 0;
    color: #fff;
}


/***** Google map *****/

.contact-address {
	padding-bottom: 15px;
}

.contact-address .map {
    margin: 20px 0 40px 0;
    height: 300px;
    border: 5px solid #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-instagram{
    border-radius: 100%;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    width: 40px;
    }
    i.fa.fa-facebook{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
    i.fa.fa-twitter{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
    i.fa.fa-instagram{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
    i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-instagram,i.fa.fa-pinterest,i.fa.fa-linkedin,i.fa.fa-google-plus,i.fa.fa-github{
    border-radius: 100%;
    font-size: 28px;
    height: 38px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    width: 38px;
    }
    i.fa.fa-github{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
    i.fa.fa-google-plus{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
    i.fa.fa-pinterest{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
    i.fa.fa-linkedin{
    border: 1px solid rgb(34,34,34);
    color: rgb(34,34,34);
    }
   
   .social-icons .fa:hover, .social-icons .fa:active {
       color: rgb(34,34,34);
       -webkit-box-shadow: 1px 1px 3px rgb(34,34,34);
       -moz-box-shadow: 1px 1px 3px rgb(34,34,34);
       box-shadow: 1px 1px 3px rgb(34,34,34); 
   }
   
   .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
        -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
       transform: scale(1.1); 
   }
   .list-unstyled {
       padding-left: 0;
       list-style: none;
   }
   .list-inline li {
       display: inline-block;
       padding-right: 0.5px;
       padding-left: 0px;
       margin-bottom: -90px;
   }
   .copyright {
       padding: 0px;
       text-align: center;
   }
   .row a:hover{
     color:#787878;
     text-decoration:none
   }
   
   .row a:active{
     
     color:rgb(34,34,34);
     text-decoration:none
   }
      
  agm-map {
    height: 300px;
  }

  .alert-message>p{
      font-size: 22px;
  }

  .alert-message{
      cursor: pointer;
  }

  .incorrect{
      border: 2px solid rgba(203, 159, 61) !important;
  }
