<div id="videoDiv">
    <div id="videoBlock">
        <div class="videoContainer" [innerHTML]="getVideoTag()">
          
        </div>

        <div id="videoMessage">
            <div class="top-content">
                <app-nav-bar></app-nav-bar>
                <span class="helper"></span>
                <app-header></app-header>

            </div>
        </div>

    </div>
</div>
<app-models (modelChanged)='onModelChanged($event)'></app-models>
<div [ngSwitch]="section">
    <div *ngSwitchCase="'builder'">
        <car-builder></car-builder>
    </div>
    <div *ngSwitchCase="'details'">
        <app-model-info [model]="selectedModelName" (customize)="onCustomize()"></app-model-info>
    </div>
    <div *ngSwitchDefault>
        <app-model-info [model]="selectedModelName" (customize)="onCustomize()"></app-model-info>
    </div>
</div>