.model-container{
    border: 4px solid rgb(10, 10, 10);
    text-align: center;
    cursor: move;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5{
    font-family: 'Rajdhani', sans-serif;
    margin: auto;
}

.model-image{
    width: 100%;
}

.model-image>img{
    max-height:100%; 
    max-width:100%;
    cursor: move !important;
}

.top-bufferM {
    margin-top: 80px;
}

.dropable-container{
    border: 2px solid rgb(34, 34, 34);
    text-align: center;
    color:rgb(34, 34, 34);
    text-transform: uppercase;
}

.drop-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-image-dropped{
    width: 100%;
}

.model-image-dropped>img{
    max-height:100%; 
    max-width:100%;
}

.model-container-dropped{
    text-align: center;
    cursor:default;
}

.selected{
    border: 4px solid rgb(203, 159, 61);;
}