.colorPicker {
   
    position: absolute;
    padding: 7px;
    padding-left: 1%;
    /* margin-left: 2%; */
    bottom: 2vh;
    margin-left: 25vw;
    -ms-flex-line-pack: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: rgba(0, 0, 0, 0.5);
}

.colorPalet {
    width: 100%;  
}

.col-xs-1 {
   padding: 10px; 
}

.col-sm-2 {
 padding: 10px;
}
.circle {
    height: 6vh;
    width: 6vh;
    margin-left: 5%;
    display: inline-block;
    border: 4px solid transparent;
    border-image-source: linear-gradient(black, whitesmoke);
    border-image-slice: 20;
}

.active {
 
    border: 4px solid transparent;
    border-image-source: linear-gradient(#cb9f3d, gold);
    border-image-slice: 20;
}

.circle:hover {
    border: 4px solid transparent;
    border-image-source: linear-gradient(#cb9f3d, gold);
    border-image-slice: 20;
}