.colorPicker {
    position: absolute;
    bottom: 2vh;
}

.colorPalet {
    margin-left: 30vw;
    height: 10vh;
    width: 30vw;
    border-radius: 20%;
    background: radial-gradient( rgba(255,255,255, 0.7), rgba(255,255,255, 0.4), rgba(255,255,255, 0.1));
}

.circle {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    display: inline-block;
}

.circle:hover {
    height: 8vh;
    width: 8vh;
}