<!-- Top menu -->
<nav class="navbar navbar-inverse" role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
      <a class="navbar-brand" routerLink="">Corvo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="effect-box">
          <a routerLink="" id="navLink">Models</a>
        </li>
        <li  class="effect-box">
          <a routerLink=""  id="navLink1">Custom</a>
        </li>
        <li  class="effect-box">
          <a routerLink=""  id="navLink2">Compare</a>
        </li>
        <li  class="effect-box">
          <a routerLink="contact"  id="navLink3">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>