<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-nav-bar id="navbar"></app-nav-bar>
<!--Page title -->
<div class="page-title-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 wow fadeIn">
        <i class="fa fa-cogs"></i>
        <h1>Comparator /</h1>
        <p>Here you can compare our cars</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isTouch">
  <app-car-selector></app-car-selector>
</div>

<div *ngIf="isTouch">
  <app-car-selector-touch></app-car-selector-touch>
</div>


