a:hover, a:focus { color: #888; text-decoration: none; }

strong { font-weight: bold; }

img { max-width: 100%; }

h1, h2 { line-height: 40px; }
h3, h4 { line-height: 20px; }

::-moz-selection {    background: #fcbd2b; color: #fff; text-shadow: none; }
::selection {     background: #fcbd2b; color: #fff; text-shadow: none; }

#navbar {
    background: rgba(0,0,0,0.55);
    border-bottom: 1px solid rgb(203,159,61);
}


.page-title-container {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    text-align: left;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-transform: uppercase;
}

.page-title-container h1 {
    display: inline;
    margin-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: #5d5d5d;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
    color: white;
}

.page-title-container p {
    display: inline;
    font-family: 'Rajdhani', 'sans-serif';
    margin-left: 5px;
    font-size: 18px;
    font-style: italic;
    vertical-align: middle;
    color: rgba(203,159,61,0.6);
}

.page-title-container i {
    font-size: 46px;
    vertical-align: middle;
    color: rgba(203,159,61,0.9);
}