<div class="featureCard">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div *ngFor="let dat of data; let i = index">
              <div class="col-sm-2"></div>
              <div class="col-sm-4" >
                <div class="imageContainer" (click)='setSelectedCard(dat.name)' [class.active]="dat.name == selectedCardName">
                    <img src="{{dat.path}}" class="featureImage">
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
