<div class="featureCard">
    <div class="container">
        <div class="row">
      
            <div *ngFor="let dat of data; let i = index">
        
              <div class="col-sm-4 col-sm-offset-1" >
                <div class="imageContainer" (click)='setSelectedCard(dat)' [class.active]="dat.name == selectedCardFeature.name">
                    <img src="{{dat.path}}" class="featureImage">
                    <div class="featureName">{{dat.name}}</div>
                </div>  
              </div>
            </div>
       
        </div>
      </div>
</div>
