

th{
	text-align: center;
}

tr{
	/* background-color: rgba(34, 34, 34, 0.6); */
	background-color: rgb(70, 70, 70, 0.2);
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

td{
	font-size: 15px;
	padding-bottom: 15px;
    padding-top: 15px;
}

.left-col{
	text-align: center;
}

.center-col{
	text-align: center;
	background-color: rgb(70, 70, 70, 0.2);
	color:#cb9f3d;
}

.right-col{
	text-align: center;
}

.table-row{
	margin-bottom: 20px;
}

.feature-table{
	border-collapse: separate;
	border-spacing: 0px 5px;
	text-transform: uppercase;
	margin-bottom: 10%;
}

.performance-star{
	display: inline;
	color: #cb9f3d;
}

