

th{
	text-align: center;
}

tr{
	background-color: rgb(34, 34, 34);
	color:white;
	font-family: 'Rajdhani', sans-serif;
}

td{
	background-color:rgb(50, 50, 50);
	font-size: 15px;
	padding-bottom: 15px;
    padding-top: 15px;
}

.left-col{
	text-align: center;
}

.center-col{
	text-align: center;
	background-color: rgb(70, 70, 70);
	color:#cb9f3d;
}

.right-col{
	text-align: center;
}

.table-row{
	margin-bottom: 20px;
}

.feature-table{
	border-collapse: separate;
	border-spacing: 0px 5px;
	text-transform: uppercase;
}

.performance-star{
	display: inline;
	color: #cb9f3d;
}

