<div *ngIf="car1 || car2">
    <table class="feature-table">
        <tr>
            <th class="col-xs-2">
                <div *ngIf="car1">
                    <h3>{{car1.name}}</h3>
                </div>
            </th>
            <th class="col-xs-2">
                <h3 style="text-align:center; color: #cb9f3d">VS</h3>
            </th>
            <th class="col-xs-2">
                <div *ngIf="car2">
                    <h3>{{car2.name}}</h3>
                </div>
            </th>
        </tr>
        <tr class="table-row">
            <td class="left-col">
                <div *ngIf="car1">
                    <p>{{car1.inside.name}}</p>
                </div>
            </td>
            <td class="center-col">
                <div>INSIDE</div>
            </td>
            <td class="right-col">
                <div *ngIf="car2">
                    <p>{{car2.inside.name}}</p>
                </div>
            </td>
        </tr>

        <tr class="table-row">
            <td class="left-col">
                <div *ngIf="car1">
                    <p>{{car1.rims.name}}</p>
                </div>
            </td>
            <td class="center-col">
                <div>RIMS</div>
            </td>
            <td class="right-col">
                <div *ngIf="car2">
                    <p>{{car2.rims.name}}</p>
                </div>
            </td>
        </tr>

        <tr class="table-row">
            <td class="left-col">
                <div *ngIf="car1">
                    <p>{{car1.motor.name}}</p>
                </div>
            </td>
            <td class="center-col">
                <div>MOTOR</div>
            </td>
            <td class="right-col">
                <div *ngIf="car2">
                    <p>{{car2.motor.name}}</p>
                </div>
            </td>
        </tr>

        <tr class="table-row">
            <td class="left-col">
                <div *ngIf="car1">
                    <p>{{car1.motor.acceleration}}</p>
                </div>
            </td>
            <td class="center-col">
                <div>ACCELERATION</div>
            </td>
            <td class="right-col">
                <div *ngIf="car2">
                    <p>{{car2.motor.acceleration}}</p>
                </div>
            </td>
        </tr>

        <tr class="table-row">
            <td class="left-col">
                <div *ngIf="car1">
                    <p>{{car1.motor.horsepower}}</p>
                </div>
            </td>
            <td class="center-col">
                <div>HORSEPOWER</div>
            </td>
            <td class="right-col">
                <div *ngIf="car2">
                    <p>{{car2.motor.horsepower}}</p>
                </div>
            </td>
        </tr>

        <tr class="table-row">
            <td class="left-col">
                <div *ngIf="car1">
                    <div *ngFor="let star of car1.stars" class="performance-star">
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                </div>
            </td>
            <td class="center-col">
                <div>PERFORMANCE</div>
            </td>
            <td class="right-col">
                <div *ngIf="car2">
                    <div *ngFor="let star of car2.stars" class="performance-star">
                        <span class="glyphicon glyphicon-star performance-star"></span>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>