<div class="top-content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="featureCar">
          Corvo <span style="color:#cb9f3d">IMPERIALE</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="description">
          <p>
              We give <span style="color:#cb9f3d">WINGS</span> to your <span style="color:#cb9f3d">DREAMS</span>, now it's up to <span style="color:#cb9f3d">YOU</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>