
.modelName{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 10vw;
    margin-left: 16vw;
}

.feature{
    color: white;
    font-family: 'Rajdhani', sans-serif;
}


.iconsContainer{
  margin-left: 40vw; 
}



.imperiale-container{
    background: url(../../../images/Models_Backgrounds/imperiale_bg.jpeg) no-repeat center center;
    font-family: 'Roboto', sans-serif;
    
   /* 
    background-position: 50% 80%;
    padding: 350px 0 400px 0;*/
    background-size: 100% 100%;
    padding: 5%;
    height: 57vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.kubanyi-container{
    background: url(../../../images/Models_Backgrounds/kubanyi_bg.jpeg) no-repeat center center;
    font-family: 'Roboto', sans-serif;
    
   /* 
    background-position: 50% 80%;
    padding: 350px 0 400px 0;*/
    background-size: 100% 100%;
    padding: 5%;
    height: 57vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.imparatus-container{
    background: url(../../../images/Models_Backgrounds/imparatus_bg.jpeg) no-repeat center center;
    font-family: 'Roboto', sans-serif;
    
   /* 
    background-position: 50% 80%;
    padding: 350px 0 400px 0;*/
    background-size: 100% 100%;
    padding: 5%;
    height: 57vw;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


#air{
    background: url(../../../images/icons/Airbags.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

#auto{
    background: url(../../../images/icons/automatic.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

#rear{
    background: url(../../../images/icons/rearview.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

#double{
    background: url(../../../images/icons/doubleCab.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

#manual{
    background: url(../../../images/icons/manual.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

#warranty{
    background: url(../../../images/icons/warranty.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

#voice{
    background: url(../../../images/icons/voice.png)  center no-repeat;
    background-size: 100% 100%;
    width: 5vw;
    height: 5vw;
}

/* css button animation xdd */

a {
    text-decoration: none;
  
  }
  
  
  .box {
      font-size: 2vw;
      font-family: 'Rajdhani', sans-serif;
   margin-top: 2em;
    position:relative;
    vertical-align: middle;
    color: #FFF;
    display: inline-block;
    
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0.7em;
    cursor: pointer;
    border: 2px solid #FFF;
    -webkit-transition:0.5s;
  }
  
  .box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
  }
  
  .box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.5s;
  }
  
  .foo::before {
    border-bottom: 3px solid #cb9f3d;
    border-left: 3px solid #cb9f3d;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  
  .foo::after {
    border-top: 3px solid #cb9f3d;
    border-right: 3px solid #cb9f3d;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  .box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  

  .card-container {
    text-transform: uppercase;
    font-size: 2vw;
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    height: 5vw;
    perspective: 600;
    position: relative;
    width: 15vw;
  }

  .card {
   
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .card .back {
    transform: rotateY(180deg);
    color: #cb9f3d;
  }