<div class="container">
    <div class="row">
        <div class="section-title">
          <h1>Builder</h1>
        </div>
    </div>

  <div class="row builder">
    
    <div class="col s1">
      <!--Iterate over the posible options to show it-->
      <div *ngFor="let option of options" 
            class="row card-panel hoverable" 
            (click)="selectedOption = option.name" 
            [class.active]="selectedOption == option.name">
        <i class="material-icons">{{option.icon}}</i>
        <label>{{option.name}}</label>
      </div>
    </div>

    <div class="col s11" >
      <div class="builderPreview" [ngSwitch]="selectedOption">
          <div *ngSwitchCase="'color'">
            <!--Replace with component to be loaded--> 
              <div class="buildPreview">
                <img src="../../assets/images/yellow.jpg" alt="not found">
                <div class="centered">Color</div>
              </div>
            </div>
            
            <div *ngSwitchCase="'motor'">        
               <!--Replace with component to be loaded--> 
              <div class="buildPreview">
                <img src="../../assets/images/yellow.jpg" alt="not found">
                <div class="centered">Motor</div>
              </div>
            </div>

            <div *ngSwitchCase="'extras'">
               <!--Replace with component to be loaded--> 
                <div class="buildPreview">
                    <img src="../../assets/images/yellow.jpg" alt="not found">
                    <div class="centered">Extras</div>
                  </div>
            </div>

            <div *ngSwitchCase="'inside'">
               <!--Replace with component to be loaded--> 
                <div class="buildPreview">
                    <img src="../../assets/images/yellow.jpg" alt="not found">
                    <div class="centered">Inside</div>
                  </div>
            </div>

            <div *ngSwitchCase="'rims'">
               <!--Replace with component to be loaded--> 
                <div class="buildPreview">
                    <img src="../../assets/images/yellow.jpg" alt="not found">
                    <div class="centered">Rims</div>
                  </div>
            </div>

            <div *ngSwitchDefault>  
               <!--Replace with component to be loaded-->       
              <div class="buildPreview">
                <img src="../../assets/images/yellow.jpg" alt="not found">
                <div class="centered">Color</div>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>
