.black {
  background-color: black;
}

.builder {
    height: 90vh;
    width: 100%;
    margin-top: 10%;
    margin-left: 0px;
    border: 1px solid lightslategrey;
    background: url('../../../assets/images/floor.jpg') no-repeat center center;
    background-size: 100%;
}

.optionsBar {
      /* margin: 0px; */
      height: 90vh;
      padding: 0;
      width: 8vw;
      -webkit-box-shadow: 5px 0px 18px #222222;
      box-shadow: 5px 0px 18px #222222;
}

.active {


  background: linear-gradient(-45deg, rgba(255,255,255,.2) 60%, rgba(255,255,255,.05) 60%, rgba(255,255,255,.05) 80%, rgba(0,0,0,.1) 80%);
    border: 3px solid #cb9f3d;
    color:#cb9f3d !important;
}

.button {
    background: radial-gradient( rgba(255,255,255, 0.6), rgba(255,255,255, 0.3), rgba(255,255,255, 0));
    border: 1px solid white;
    font-family: 'Rajdhani', sans-serif;
  }

.box {
  margin-top: 1vh;
  padding-top: 5vh;
  height: 18%;
  width: 100%;
  /* font-size: 132%; */
  color: #FFF;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

.box:hover {
  border-radius: 10px;
  border: solid 5px rgba(255,255,255,.1);
  background: linear-gradient(-45deg, rgba(255,255,255,.2) 60%, rgba(255,255,255,.05) 60%, rgba(255,255,255,.05) 80%, rgba(0,0,0,.1) 80%);
 
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: 0.35s;
}

.foo::before {
  border-bottom: 3px solid #cb9f3d;
  border-left: 3px solid #cb9f3d;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.foo::after {
  border-top: 3px solid #cb9f3d;
  border-right: 3px solid #cb9f3d;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}


.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media only screen and (max-width: 1024px) {
  .builder {
    height: 65vh;
  }

  .optionsBar {
    height: 12vh;
    width: 100%;
    -webkit-box-shadow: 5px 10px 18px #000000;
    box-shadow: 5px 10px 18px #000000;
  }

  .box {
    height: 95%;
    width: 20%;
    margin-top: 0;
    padding-top: 6%;
  }

}

.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3vw;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}