
<!--Footer-->

<footer class="page-footer mdb-color center-on-small-only top-buffer">

  <!--Footer Links-->
  <div class="container">
    <div class="row">
    <div class="row"><br><br></div>
    <div class="col-md-1 offset-md-1"><h4><a href=""></a> </h4></div>
    <!--<hr style='margin-top:-1em'>-->
    <div class="col-md-1 offset-md-1"><h4><a href=""></a></h4></div>
    <div class="col-md-1 offset-md-1"><h4><a href=""></a></h4></div>  
    <div class="col-md-1 offset-md-1"><h4><a href=""></a></h4></div> 
    <div class="col-md-1 offset-md-1"><h4><a href=""></a> </h4></div> 
    
    </div>
      <div  class="row">
          <!--First column-->
             <div id="links1" class="col-md-2 offset-md-4">
              <h5 class="title">Models </h5>
              <hr style='margin-top:1em'> 
              <p><a href="#!">Corvo Imperial</a></p>
              <p><a href="#!">Corvo Corux</a></p>
              <p><a href="#!">Corvo Atanno</a></p>
              <p><a href="#!">Corvo Especial</a></p>
              <ul>
                                    
              </ul>
          </div>

      
          <!--Third column-->
          <div id="links2" class="col-md-2 offset-md-1">
              <h5 class="title">About us</h5>
              <hr style='margin-top:1em'>
              <p><a href="#!">About</a></p>
              <p><a href="#!">Blog</a></p>
              <p> <a href="#!">Privacy Policy</a></p>
              <p><a href="#!">Terms of service</a></p>
              <ul>

              </ul>
          </div>
          
          <!--Fourth column-->
         <div id="links2" class="col-md-5 offset-md-1">
      
          <a class="twitter-timeline" href="https://twitter.com/Corvus_imperio?ref_src=twsrc%5Etfw" ata-width="800"
          data-height="200">Tweets by Corvus_imperio</a>
          <ng4-twitter-timeline hidden [dataSrc]="{sourceType: 'profile',screenName: 'Corvus_imperio'}" [opts]="{tweetLimit: 2}">Tweets by Corvus_imperio</ng4-twitter-timeline>
          
        </div>  
      

          <!--/.Fourth column-->

      </div>
  </div>
  <!--/.Footer Links-->

  <!--Call to action-->

  <!--Social buttons-->
  <div class="text-center mb-3">
     <div class="container-fluid">
    <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline"> 
      <li><a href="#"><i class="fa fa-facebook"></i></a> </li> 
      <li><a href="#"><i class="fa fa-twitter"></i></a> </li>   
      <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
      <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li> 
      <li> <a href="#"><i class="fa fa-github"></i></a> </li> 
      <li> <a href="#"><i class="fa fa-pinterest"></i></a> </li> 
          <li> <a href="#"><i class="fa fa-instagram"></i></a> </li> 
      
    </ul>
        ©2018 Copyright: <a class="copyright" href=""> CorvusImperial.com 
         </a>

      </div>
  </div>
</footer>
<!--/.Footer-->
      