<div class="container">
  <div class="row">
    <div class="section-title">
        <h1>Models</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12-md col-md-offset-1">
      <div class="col-md-4" *ngFor="let model of models; let i = index" 
        (click)="setSelectedModel(i)">
        <div class="model-container" [class.active]="i == selectedModel">
          <div class="contain-header">
            <h1>{{model.image}}</h1>
          </div>
          <div class="contain-footer">
            <div class="model-name">
              <h3>{{model.name}}</h3>
            </div>
            <div class="contain-footer">
              <p>{{model.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>