<div class="modal-header">
  <h2 class="modal-title pull-left">{{specs.name}}</h2>
  <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <car class="car"></car>
  <div class="details">
    <div class="row">
      <div class="col-xs-3">
        <h3>Details</h3>
      </div>
    </div>
    <div class="row">
      <div *ngFor='let detail of details'>
        <div class="col-xs-6 col-md-5">
          <div class="blockquote-box blockquote-primary clearfix">
            <div class="square pull-left">
              <i class="material-icons">{{detail.icon}}</i>
            </div>
            <h4>
              <b>{{detail.name}}</b>
            </h4>
            <p>{{detail.desc}}</p>
         <p>Price: <span style="color:#cb9f3d">{{detail.price}}</span> </p>
          </div>
       
        </div>
       
      </div>
      <p>Total: <span style="color:#cb9f3d">{{subT}}</span></p>
    </div>
  </div>

</div>
<div class="modal-footer">
  <div class='box foo col-sm-4 pdf' (click)="showPreview()">
      GET <span style="color:#cb9f3d">PDF</span> 
  </div>
</div>